/* GENERAL */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d1cfcf;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #006eff;
}

/* BUTTON */
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #8b01db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6dffff;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #61fc8f;
  border-radius: 5px;
}

/* TODO */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #61fc8f;
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #f1f1f1;
}
